<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="apiSecurity" type="Hermes.WebApi.Core.Security.Configuration, Hermes.WebApi.Core.1.0.2" />
  </configSections>
  <!--enableAuthentication="true" .AspNet.ExternalCookie-->
  <apiSecurity enableBasicAuthentication="false" enableAuthentication="false" enableOAuthAuthentication="true" enableHermesAuthorization="true" path="bin" authCookieName=".AspNet.ExternalCookie" enableDBTokenValidation="true" enableMultipleInstance="false" enableCookieAuthentication="false" handleUnHandledException="true" passwordChangeValidation="true" />

  <connectionStrings>
    <!--<add name="AuthContext" connectionString="Data Source=172.30.255.28;Initial Catalog=HermesAuthDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
    <add name="AuthContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=Auth;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="SecureStringKey" value="BuhlerAnyWherePro@123" />
    <add key="GoogleClientId" value="438931010818-3hm5srer0iab01c63m04lqmobgkujobu.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="VrEnzyB4tPOMaAw_Dr1SiRBz" />
    <add key="FBClientId" value="YourAppFacebookClientId" />
    <add key="FBClientSecret" value="YourAppFacebookClientSeceret" />
    <add key="SecuritySchema" value="[Security]" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey decryption="AES" decryptionKey="DC6034F3758764E3213175B14EAE08368F8942282F56AA79" validationKey="16A9538C0186BA5CD73BA84D695E772C11196C09C4E6E3839A18FDC76698AD0033EAF13A4C8174DEDBB64EAC947001C26DA5990621E961C444AAA33DA554F050" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--<add name="WebDAV" path="*" verb="*" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />-->
    </handlers>
  </system.webServer>
</configuration>
